<h1 class="display-4 text-center">Periodos</h1>
<hr>
<div class="container py-4">

		<table id="gtabla" class="table table-striped table-bordered  ">
			<thead >
				<tr class="bg-danger text-white">
					<th scope="col">id</th>
					<th scope="col">Periodo</th>
					<th scope="col">Opciones</th>

				</tr>
			</thead>
			<tbody>
				{{#each periodo}}
				<tr>
					<th scope="col">{{id_periodo}}</th>
					<td>{{periodo}}</td>
					<td>
						<a href="delete/{{id_periodo}}" class="btn btn-danger">Eliminar</a>
						<a href="modificar/{{id_periodo}}" class="btn btn-info">Editar</a>
					</td>	
				</tr>
				{{/each}}
			</tbody>
		</table>
</div>