<div class="container py-4">
	<div class="row">
		<div class="col-12 col-sm-10 col-lg-9 mx-auto">
			<div class="card">
				 <div class="card-bady">
				 	<form action="" method="POST" class="bg-white py-5 px-4 shadow rounded">
				 			<h1 class="display-4 text-center">Registrar Docente</h1>
							<hr>
						<div class="form-group">
				 			<label for="nombre">Nombre:</label>
				 			<input class="form-control border-0 bg-light shadow-sm" 
				 			 type="text"
				 			 name="nombre_docen">
				 		</div>
				 		<div class="form-group">
				 			<label for="edad">Edad:</label>
				 			<input class="form-control border-0 bg-light shadow-sm" 
				 			 type="text"
				 			 name="edad">
				 		</div>
				 		<div class="form-group">
				 			<label for="correo">Correo:</label>
				 			<input class="form-control border-0 bg-light shadow-sm" 
				 			 type="text"
				 			 name="correo">
				 		</div>
				 		<div class="form-group">
				 			<button type="submit" class="btn btn-block btn-lg btn-success">Guardar</button>
				 			<a href="/docente/show" class="btn btn-block btn-lg btn-info">Consultar</a>
				 		</div>					 		
				 	</form>
				 </div>
			</div>
		</div>
	</div>
</div>
